extends layout

block content
    h1 Create Your League
    form(method='POST', action='/leagues/create')
        #form-group
            label League Name:
            input.form-control(name='name', type='text')
        #form-group
            label Sport:
            input.form-control(name='sport', type='text')
        #form-group
            label Start:
            input.form-control(name='start', type='date')
        #form-group
            label End:
            input.form-control(name='end', type='date')
        #form-group
            label Location:
            input.form-control(name='location', type='text')
        #form-group
            label Public: (Unchecking this box will make this league "invite-only")
            input.form-control(name='public', type='checkbox', value='true')
        br
        input.btn.btn-primary(type='submit',value='Submit')