extends layout

block content
  h2= league.name
  h5= league.sport 
    |   League
  p Created by #{creator.name}
    //if joined 
    if user
      if league.participants.includes(user.id)
        form(method='POST', action='/leagues/leave/'+league._id)
          input.btn.btn-primary#join(type='submit',value='Leave League')
      else
        form(method='POST', action='/leagues/join/'+league._id)
          input.btn.btn-primary#join(type='submit',value='Join League')
      
  hr
  if user
    if user.id ==league.creator
      a.btn.btn-default(href='/leagues/edit/'+league._id) Edit 
      a.btn.btn-danger.delete-league(href='#',data-id=league._id) Delete